#navbarText{
    font-family: 'Poppins', sans-serif;
    /* font-size: larger; */
    margin-right: 0;
}

.section-head{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 30px 0 0 30px;
    margin-bottom: 20px;
}

.btn{
    width: auto;
    padding: 2px 10px;
    color: white;
    border-radius: 20px;
    background-color: green;
}
.nav-link{
    width: auto;
}

#card-active{
background-color:white;
border-radius: 20px;
margin-top: 10px;
box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.75);
/* background-color: ; */
;
}

.cardHead{
    /* padding-top: 30px */
    font-family: 'Poppins', sans-serif;
    /* font-weight: bold;÷÷ */
    padding-bottom: 4px;
    font-size: 15px;
    text-align: center;
    color: black;
    padding-top: 5px;
}

.cardBody{
padding-bottom: 30px;
color: rgba(0, 0, 0, 0.589);
font-weight: lighter;

}

.hero{
    background-image: url(/img/marquise-kamanke-xP_ujG8HZP8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    padding: 20% 0;
    background-attachment:fixed;
    /* height: 100%; */
    /* width: auto; */
}

.header{
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: white;

}

.support{
    text-align: center;
    color: white;


}

#about{
    text-align: left;
    padding: 3% 10%;
    font-family: 'Poppins', sans-serif;

}

.head{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    padding-top: 9%;
}

#support{
font-size: 20px;
color: rgba(128, 128, 128, 0.815);
}

.row{
    margin-bottom: 10%;
}

